/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "variables";

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: $position-relative;
  min-height: 100%;
}

body {
  background-color: $body-bgcolor;
  color: $body-default-color;
  margin-bottom: 60px;
}

#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.home-section {
  background-image: asset-url('background_home.jpg');
  background-size: cover;
  height: 550px;
}
.home-section h1 {
  color: #fff;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: 400;
}

.footer {
  position: $position-absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #F5F5F5;
  height: 60px;
  border-top: 1px solid #F5F5F5;
  padding-top: 15px;
}

.footer .text-muted {
  margin: 20px 0px;
}
.footer small {
  float: left;
}
.footer ul {
  float: right;
  list-style: none;
}
.footer ul li {
  float: left;
  margin-left: 15px;
}

@import "articles"
